* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-family: 'Roboto', sans-serif;
}

.container {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

.promo {
  height: 802px;
  background: url("../img/BG/main_bg.png") center center/cover no-repeat;
  padding: 38px 0 61px 0;
}

.promo_logo_img {
  display: block;
  margin: 0 auto;
}

.promo_logo_text {
  margin: 9px 0 53px 0;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500px;
  text-align: center;
}

.promo_title {
  color: #F9BF3B;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 41px;
}

.promo_title_big {
  margin-top: 20px 0 20px 0;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  font-size: 80px;
  font-weight: 900;
}

.promo_line {
  width: 292px;
  height: 2px;
  color: #ffffff;
}

.promo_descr {
  margin: 22px 0 72px 0;
  padding: 0 13px;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}

.promo_descr span {
  font-weight: 900;
  font-size: 21px;
  color: #F9BF3B;
  text-transform: uppercase;
}

.promo_btn {
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  width: 313px;
  height: 72px;
  background: -webkit-gradient(linear, left bottom, left top, from(#2798B9), to(#3AB6DA));
  background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
  border: 4px solid rgba(0, 0, 0, 0.09);
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

.promo_more {
  margin-top: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 15px;
}

.promo_arrow_down {
  display: block;
  margin: 0 auto;
  margin-top: 4.5px;
}

.waiting {
  padding: 86px 0 74px 0;
  min-height: 604px;
  background-color: #EFEFEF;
}

.waiting .waiting_header {
  text-align: center;
  text-transform: uppercase;
  color: #252525;
  font-size: 30px;
  font-weight: 500;
}

.waiting .waiting_divide {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 217px;
  height: 4px;
  background: #F9BF3B;
}

.waiting .waiting_subheader {
  margin-top: 18px;
  font-size: 23px;
  text-align: center;
  color: #4A4A4A;
  font-weight: 500;
}

.waiting .waiting_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
  width: 339px;
  text-align: center;
}

.waiting .waiting_wrapper .waiting_img {
  width: 100%;
}

.waiting .waiting_wrapper .waiting_descr {
  margin-top: 26px;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #4A4A4A;
}

.optimization {
  min-height: 548px;
  padding: 108px 0 107px 0;
}

.optimization_title {
  margin-left: 391px;
  color: #299CBD;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 900;
}

.optimization_descr {
  margin-top: 20px;
  margin-left: 391px;
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  color: #4A4A4A;
}

.optimization_descr span {
  font-weight: 700;
}

.optimization_woman_img {
  position: absolute;
  top: 48px;
  left: -240px;
  z-index: -1;
}

.finish {
  min-height: 447px;
  padding: 86px 0 68.5px 0;
  background: url("../img/BG/second_bg.jpg") center center/cover no-repeat;
}

.finish_title {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #EFEFEF;
}

.finish_divide {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 217px;
  height: 4px;
  background: #F9BF3B;
}

.finish_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.finish_spot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 40px;
  width: 118px;
  height: 118px;
  background: #B4E2FF;
  border-radius: 100%;
}

.finish_descr {
  margin-top: 20px;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  margin-top: 24.5px;
  max-width: 220px;
  text-align: center;
  color: #EFEFEF;
}

.gift {
  min-height: 631px;
  background: #EFEFEF;
  padding: 82px 0px 94px 0;
}

.gift_img {
  display: block;
  margin: 0 auto;
}

.gift_descr {
  margin-top: 51px;
  font-weight: 500;
  font-size: 30px;
  line-height: 43px;
  text-align: center;
  color: #252525;
}

.gift .btn_gift {
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  width: 313px;
  height: 72px;
  background: -webkit-gradient(linear, left bottom, left top, from(#2798B9), to(#3AB6DA));
  background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
  border: 4px solid rgba(0, 0, 0, 0.09);
  font-weight: 400;
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

.vebinar {
  min-height: 512px;
  padding: 81px 0 52px 0;
}

.vebinar_img {
  display: block;
  margin: 0 auto;
}

.vebinar_title {
  margin-top: 36px;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #252525;
}

.vebinar_subheader {
  margin-top: 30px;
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #299CBD;
}

.vebinar_descr {
  margin-top: 25px;
  font-weight: 400;
  font-size: 23px;
  text-align: center;
  color: #4A4A4A;
}

footer {
  min-height: 169px;
  padding: 61px 0 69px 0;
  background: #1A1A1A;
}

footer .info {
  margin: 0 auto;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  color: #888888;
  line-height: 21px;
}

footer .info_underlined {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

footer a {
  color: #888888;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  text-decoration: none;
}

footer a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: yellow;
}
/*# sourceMappingURL=style.css.map */